@charset:utf-8;
*{
	margin: 0;
	padding: 0;
	clear: both;
	text-decoration: none;
}

body{
	background-color: #333;
}

.header{
	width: 100%;
	height: 150px;
	text-align: center;
}

h1{
	font:  bold 100px Arial;
	color: #fff;
}


.content{
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	position: relative;
}

.diamond{
	transform: rotate(45deg);   
	-ms-transform: rotate(45deg); /* Internet Explorer */   
	-moz-transform: rotate(45deg); /* Firefox */   
	-webkit-transform: rotate(45deg); /* Safari 和 Chrome */   
	-o-transform: rotate(45deg); /* Opera */
	border-radius: 5px;
	text-align: center;
}

.center-diamond{
	width: 250px;
	height: 250px;
	background-color: #6B8E23;
	position: absolute;
	top: 225px;
	left: 375px;
}

.max-diamond{
	width: 200px;
	height: 200px;
	background-color: orange;
	position: absolute;
	top: 250px;
	left: 400px;	
}

.min-diamond{
	width: 100px;
	height: 100px;
	background-color: yellow;
	position: absolute;
	top: 300px;
	left: 450px;	
}

.profiles-max{
	width: 200px;
	height:30px;
	text-align: center;
	position: absolute;
	top:95px;
	left:20px;
	font: bold 20px 宋体;
	color: #fff;
	transform: rotate(-45deg);   
	-ms-transform: rotate(-45deg); /* Internet Explorer */   
	-moz-transform: rotate(-45deg); /* Firefox */   
	-webkit-transform: rotate(-45deg); /* Safari 和 Chrome */   
	-o-transform: rotate(-45deg); /* Opera */
}

.profiles-mid{
	width: 200px;
	height:30px;
	text-align: center;
	position: absolute;
	top:80px;
	font: bold 20px 宋体;
	color: #fff;
	transform: rotate(-45deg);   
	-ms-transform: rotate(-45deg); /* Internet Explorer */   
	-moz-transform: rotate(-45deg); /* Firefox */   
	-webkit-transform: rotate(-45deg); /* Safari 和 Chrome */   
	-o-transform: rotate(-45deg); /* Opera */
}

.profiles-min{
	width: 100px;
	height:30px;
	text-align: center;
	position: absolute;
	top:40px;
	left:5px;
	font: bold 10px Arial;
	transform: rotate(-45deg);   
	-ms-transform: rotate(-45deg); /* Internet Explorer */   
	-moz-transform: rotate(-45deg); /* Firefox */   
	-webkit-transform: rotate(-45deg); /* Safari 和 Chrome */   
	-o-transform: rotate(-45deg); /* Opera */
}

.left1{
	animation:mymove1 1s;
	-moz-animation:mymove1 1s; /* Firefox */
	-webkit-animation:mymove1 1s; /* Safari and Chrome */
	-o-animation:mymove1 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove1
		{
		from{top:250px; left:400px;}
		to{top:100px; left:218px;}
		}
	@-moz-keyframes mymove1 /* Firefox */
	{
		from{top:250px; left:400px;}
		to{top:100px; left:218px;}
	}
	@-webkit-keyframes mymove1 /* Safari and Chrome */
	{
		from{top:250px; left:400px;}
		to{top:100px; left:218px;}
	}
	@-o-keyframes mymove1 /* Opera */
	{
		from{top:250px; left:400px;}
		to{top:100px; left:218px;}
	}

.left2{
	animation:mymove2 1s;
	-moz-animation:mymove2 1s; /* Firefox */
	-webkit-animation:mymove2 1s; /* Safari and Chrome */
	-o-animation:mymove2 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove2
		{
		from{top:250px; left:400px;}
		to{top:400px; left:218px;}
		}
	@-moz-keyframes mymove2 /* Firefox */
	{
		from{top:250px; left:400px;}
		to{top:400px; left:218px;}
	}
	@-webkit-keyframes mymove2 /* Safari and Chrome */
	{
		from{top:250px; left:400px;}
		to{top:400px; left:218px;}
	}
	@-o-keyframes mymove2 /* Opera */
	{
		from{top:250px; left:400px;}
		to{top:400px; left:218px;}
	}

.left3{
	animation:mymove3 1s;
	-moz-animation:mymove3 1s; /* Firefox */
	-webkit-animation:mymove3 1s; /* Safari and Chrome */
	-o-animation:mymove3 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove3
		{
		from{top:250px; left:400px;}
		to{top:250px; left:70px;}
		}
	@-moz-keyframes mymove3 /* Firefox */
	{
		from{top:250px; left:400px;}
		to{top:250px; left:70px;}
	}
	@-webkit-keyframes mymove3 /* Safari and Chrome */
	{
		from{top:250px; left:400px;}
		to{top:250px; left:70px;}
	}
	@-o-keyframes mymove3 /* Opera */
	{
		from{top:250px; left:400px;}
		to{top:250px; left:70px;}
	}

.left4{
	animation:mymove4 1s;
	-moz-animation:mymove4 1s; /* Firefox */
	-webkit-animation:mymove4 1s; /* Safari and Chrome */
	-o-animation:mymove4 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove4
		{
		from{top:300px; left:450px;}
		to{top:150px; left:45px;}
		}
	@-moz-keyframes mymove4 /* Firefox */
	{
		from{top:300px; left:450px;}
		to{top:150px; left:45px;}
	}
	@-webkit-keyframes mymove4 /* Safari and Chrome */
	{
		from{top:300px; left:450px;}
		to{top:150px; left:45px;}
	}
	@-o-keyframes mymove4 /* Opera */
	{
		from{top:300px; left:450px;}
		to{top:150px; left:45px;}
	}

.left5{
	animation:mymove5 1s;
	-moz-animation:mymove5 1s; /* Firefox */
	-webkit-animation:mymove5 1s; /* Safari and Chrome */
	-o-animation:mymove5 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove5
		{
		from{top:300px; left:450px;}
		to{top:450px; left:45px;}
		}
	@-moz-keyframes mymove5 /* Firefox */
	{
		from{top:300px; left:450px;}
		to{top:450px; left:45px;}
	}
	@-webkit-keyframes mymove5 /* Safari and Chrome */
	{
		from{top:300px; left:450px;}
		to{top:450px; left:45px;}
	}
	@-o-keyframes mymove5 /* Opera */
	{
		from{top:300px; left:450px;}
		to{top:450px; left:45px;}
	}

.left6{
	animation:mymove6 1s;
	-moz-animation:mymove6 1s; /* Firefox */
	-webkit-animation:mymove6 1s; /* Safari and Chrome */
	-o-animation:mymove6 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove6
		{
		from{top:300px; left:450px;}
		to{top:300px; left:-100px;}
		}
	@-moz-keyframes mymove6 /* Firefox */
	{
		from{top:300px; left:450px;}
		to{top:300px; left:-100px;}
	}
	@-webkit-keyframes mymove6 /* Safari and Chrome */
	{
		from{top:300px; left:450px;}
		to{top:300px; left:-100px;}
	}
	@-o-keyframes mymove6 /* Opera */
	{
		from{top:300px; left:450px;}
		to{top:300px; left:-100px;}
	}

.right1{
	animation:mymove7 1s;
	-moz-animation:mymove7 1s; /* Firefox */
	-webkit-animation:mymove7 1s; /* Safari and Chrome */
	-o-animation:mymove7 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove7
		{
		from{top:250px; left:400px;}
		to{top:100px; left:580px;}
		}
	@-moz-keyframes mymove7 /* Firefox */
	{
		from{top:250px; left:400px;}
		to{top:100px; left:580px;}
	}
	@-webkit-keyframes mymove7 /* Safari and Chrome */
	{
		from{top:250px; left:400px;}
		to{top:100px; left:580px;}
	}
	@-o-keyframes mymove7 /* Opera */
	{
		from{top:250px; left:400px;}
		to{top:100px; left:580px;}
	}

.right2{
	animation:mymove8 1s;
	-moz-animation:mymove8 1s; /* Firefox */
	-webkit-animation:mymove8 1s; /* Safari and Chrome */
	-o-animation:mymove8 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove8
		{
		from{top:250px; left:400px;}
		to{top:400px; left:580px;}
		}
	@-moz-keyframes mymove8 /* Firefox */
	{
		from{top:250px; left:400px;}
		to{top:400px; left:580px;}
	}
	@-webkit-keyframes mymove8 /* Safari and Chrome */
	{
		from{top:250px; left:400px;}
		to{top:400px; left:580px;}
	}
	@-o-keyframes mymove8 /* Opera */
	{
		from{top:250px; left:400px;}
		to{top:400px; left:580px;}
	}

.right3{
	animation:mymove9 1s;
	-moz-animation:mymove9 1s; /* Firefox */
	-webkit-animation:mymove9 1s; /* Safari and Chrome */
	-o-animation:mymove9 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove9
		{
		from{top:250px; left:400px;}
		to{top:250px; left:728px;}
		}
	@-moz-keyframes mymove9 /* Firefox */
	{
		from{top:250px; left:400px;}
		to{top:250px; left:728px;}
	}
	@-webkit-keyframes mymove9 /* Safari and Chrome */
	{
		from{top:250px; left:400px;}
		to{top:250px; left:728px;}
	}
	@-o-keyframes mymove9 /* Opera */
	{
		from{top:250px; left:400px;}
		to{top:250px; left:728px;}
	}

.right4{
	animation:mymove10 1s;
	-moz-animation:mymove10 1s; /* Firefox */
	-webkit-animation:mymove10 1s; /* Safari and Chrome */
	-o-animation:mymove10 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove10
		{
		from{top:300px; left:450px;}
		to{top:150px; left:855px;}
		}
	@-moz-keyframes mymove10 /* Firefox */
	{
		from{top:300px; left:450px;}
		to{top:150px; left:855px;}
	}
	@-webkit-keyframes mymove10 /* Safari and Chrome */
	{
		from{top:300px; left:450px;}
		to{top:150px; left:855px;}
	}
	@-o-keyframes mymove10 /* Opera */
	{
		from{top:300px; left:450px;}
		to{top:150px; left:855px;}
	}

.right5{
	animation:mymove11 1s;
	-moz-animation:mymove11 1s; /* Firefox */
	-webkit-animation:mymove11 1s; /* Safari and Chrome */
	-o-animation:mymove11 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove11
		{
		from{top:300px; left:450px;}
		to{top:450px; left:855px;}
		}
	@-moz-keyframes mymove11 /* Firefox */
	{
		from{top:300px; left:450px;}
		to{top:450px; left:855px;}
	}
	@-webkit-keyframes mymove11 /* Safari and Chrome */
	{
		from{top:300px; left:450px;}
		to{top:450px; left:855px;}
	}
	@-o-keyframes mymove11 /* Opera */
	{
		from{top:300px; left:450px;}
		to{top:450px; left:855px;}
	}

.right6{
	animation:mymove12 1s;
	-moz-animation:mymove12 1s; /* Firefox */
	-webkit-animation:mymove12 1s; /* Safari and Chrome */
	-o-animation:mymove12 1s; /* Opera */
	animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
}

	@keyframes mymove12
		{
		from{top:300px; left:450px;}
		to{top:300px; left:1000px;}
		}
	@-moz-keyframes mymove12 /* Firefox */
	{
		from{top:300px; left:450px;}
		to{top:300px; left:1000px;}
	}
	@-webkit-keyframes mymove12 /* Safari and Chrome */
	{
		from{top:300px; left:450px;}
		to{top:300px; left:1000px;}
	}
	@-o-keyframes mymove12 /* Opera */
	{
		from{top:300px; left:450px;}
		to{top:300px; left:1000px;}
	}

.footer{
 	text-align: center;
 	color: #fff;
}

a{
	color: #fff;
}